// web font
@import url('https://fonts.googleapis.com/css?family=Lexend+Giga|Sunflower:300&display=swap');

@import './mixin';
@import './variable';

//global

* {
  font-family: 'Lexend Giga', 'Sunflower', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}


