$fontSize8 : 8px;
$fontSize9 : 9px;
$fontSize10 : 10px;
$fontSize11 : 11px;
$fontSize12 : 12px;
$fontSize13 : 13px;
$fontSize14 : 14px;
$fontSize15 : 15px;
$fontSize16 : 16px;
$fontSize17 : 17px;
$fontSize18 : 18px;
$fontSize19 : 19px;
$fontSize20 : 20px;
$fontSize21 : 21px;
$fontSize22 : 22px;
$fontSize23 : 23px;
$fontSize24 : 24px;
$fontSize25 : 25px;

$basicFontSize : 13px;
$titleFontSize : 32px;
$subFontSize : 28px;

// font color
$fontColorWhite : #fff;
$fontColorBlack : #1a1a1a;

// bg color
$bgColorBlack : #404040;
$bgColorBlack-light : #808080;

$bgColorDeepBlue : #2c3c54;
$bgColorDeepBlue-light : #5878a7;

$bgColorPurple : #30324f;
$bgColorPurple-light : #61659e;

// content wrap bg color
$bgColor1 : #ff9b80;
$bgColor2 : #f53d5f;
$bgColor3 : #a1456a;






